{% extends '::base.html.twig' %}

{% block body %}
     <div class="row">
        <div class="span3">
        </div><!--/span-->
        <div class="span9">
            <ul class="nav nav-tabs">
                <li>
                    <a href="{{ path('project_list') }}">{{ 'Your projects'|trans }}</a>
                </li>
                <li class="active"><a href="{{ path('activity') }}">{{ 'Activity'|trans }}</a></li>
            </ul>
      </div><!--/row-->
{% endblock body %}