{% extends 'NeblionScrumBundle:Layout:base.html.twig' %}

{% block body %}
     <div class="row-fluid">
        <div class="span3">
          
        </div><!--/span-->
        
        <div class="span9">
          <div class="hero-unit">
            <h1>Hello, world!</h1>
            <h2>Hello Fabien</h2>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          </div>
         
          
        </div><!--/span-->
      </div><!--/row-->
{% endblock body %}