{% extends '::base.html.twig' %}

{% block body %}
     <div class="row">
        <div class="span12">
          <div class="hero-unit">
            <h1>Hello, world!</h1>
            <p>This is Neblion/scrum a symfony2 scrum app.</p>
          </div>
        </div><!--/span-->
      </div><!--/row-->
{% endblock body %}