{% extends 'NeblionScrumBundle:Layout:base.html.twig' %}

{% form_theme form 'NeblionScrumBundle:Form:fields.html.twig' %}

{% block body %}
    <div class="row">
       {% include 'NeblionScrumBundle:Layout:navtabs.html.twig' with { 'project': project, 'active': 'sprints'} %}
    </div><!--/row-->

    <div class="row">
        <div class="span3">
            <p>Help...</p>
        </div><!--/span-->

        <div class="span9">
            <form action="{{ path('task_delete', { 'id': task.id }) }}" method="post">
                {{ form_widget(form) }}
                <button type="submit">{{ 'Delete'|trans }}</button>
            </form>
        </div><!--/span-->
    </div><!--/row-->
{% endblock body %}



