{% extends '::base.html.twig' %}

{% block body %}
<div class="page-header">
    <h1>{{ 'Sprint retrospective:'|trans }} {{ sprint.name }}</h1>
</div>

<div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span9">
    </div>
</div><!--/row-->   

{% endblock body %}
