{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="span3">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-file"></i></span>
                    <h5>{{ 'Resetting request'|trans }}</h5>
                </div>
                <div class="widget-content">
                    
                </div>
            </div>
        </div><!--/span-->

        <div class="span9">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-file"></i></span>
                    <h5>{{ 'Resetting request'|trans }}</h5>
                </div>
                <div class="widget-content">
                    <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
