{% extends 'NeblionScrumBundle:Layout:base.html.twig' %}

{% block body %}
    <div id="login">
       
        <div id="block-login">
            {% include "FOSUserBundle:Registration:register_content.html.twig" %}
        </div>
    </div>
{% endblock body %}
