{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
       {% include 'NeblionScrumBundle:Layout:navtabs.html.twig' with { 'project': project, 'active': 'dashboard'} %}
            
       <div class="alert alert-block">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>Warning!</h4>
            Best check yo self, you're not...
       </div>
                        
       {% if currentSprint is not null %}
        <p><a href="{{ path('sprint_show', { 'id': currentSprint.id }) }}">Current Sprint</a></p>
       {% endif %}
    </div><!--/row-->
{% endblock body %}



