{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        {% include 'NeblionScrumBundle:Layout:navtabs.html.twig' with { 'project': project, 'active': 'admin'} %}
            
        {% include 'NeblionScrumBundle:Layout:navbar-admin.html.twig' with { 'project': project, 'active': 'team'} %} 
    </div><!--/row-->
    
    <div class="row">
        <div class="span3">
            <p>Help...</p>
        </div>

        <div class="span9">
            {% if member.account.profile is defined %}
                <h2>{{ member.account.profile.firstname }} {{ member.account.profile.lastname }}</h2>
                <p>{{ member.account.username }}</p>
            {% else %}
                <h2>{{ member.account.username }}</h2>
            {% endif %}
        </div>
    </div><!--/row-->   
{% endblock body %}
