<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Neblion Scrum</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Neblion">
        {% block headoptions %}
        
        {% endblock %}
        <!-- styles -->
        {% stylesheets 
            '%kernel.root_dir%/../vendor/twitter/bootstrap/css/bootstrap.min.css'
            '%kernel.root_dir%/../vendor/twitter/bootstrap/css/bootstrap-responsive.min.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            <!--<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>-->
            <style type="text/css">
              body {
                padding-top: 60px;
                padding-bottom: 40px;
              }
            </style>
        {% endstylesheets %}

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        {# } 
        <link rel="shortcut icon" href="ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
        { #}
    </head>

    <body>
        {% include 'NeblionScrumBundle:Layout:navbar.html.twig' %}
        
        <div class="container-fluid">
        
            {% if app.session.started %}
                {% for type, flashMessages in app.session.flashbag.all %}
                    {% for message in flashMessages %}
                        <div class="alert alert-{{ type }}">
                            <button class="close" data-dismiss="alert">×</button>
                            {{ message|trans }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            
            {% block fos_user_content %}{% endblock fos_user_content %}

            {% block body %}{% endblock %}
        </div>

        {% javascripts 
            '%kernel.root_dir%/../vendor/jquery/jquery/*.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
